@import 'variables';

.equipment {
    padding: 16px;
    right: 0;
    position: absolute;
    background-color: $basic-back;
    width: 25%; //459.5 px at built resolution
    max-width: 400px;
    height: 60%;

    .yourhelmet {
        background-color: $basic-back;
        position: absolute;
        top: 15.55%;
        right: 32%;

        height: 16.6%;
        width: 22.6%;
        max-width: 75px;

        border: 2px solid black;
    }

    .yourchestplate {
        background-color: $basic-back;
        position: absolute;
        top: 32.44%;
        right: 32%;

        height: 30%;
        width: 22.6%;
        max-width: 75px;

        border: 2px solid black;
    }

    .yourleggings {
        background-color: $basic-back;
        position: absolute;
        top: 62.66%;
        right: 32%;

        height: 23.3%;
        width: 22.6%;
        max-width: 75px;

        border: 2px solid black;
    }

    .yourboots {
        background-color: $basic-back;
        position: absolute;
        top: 86.22%;
        right: 32%;

        height: 13.3%;
        width: 22.6%;
        max-width: 75px;

        border: 2px solid black;
    }

    .yourweapon {
        background-color: $basic-back;
        position: absolute;
        top: 32.44%;
        right: 54.93%;

        height: 30%;
        width: 14.6%;
        max-width: 50px;

        border: 2px solid black;
    }

    .youroffhand {
        background-color: $basic-back;
        position: absolute;
        top: 32.4%;
        right: 17.06%;

        height: 30%;
        width: 14.6%;
        max-width: 50px;

        border: 2px solid black;
    }
}

@media screen and (max-width: 34em) {
    .equipment {
        display: none;
    }
}

@media screen and (max-width: 48em) {
    .equipment {
        width: 85%;
        max-width: 20em;
        min-width: 200px;
    }
}

@media screen and (max-height: 523px) {
    .equipment {
        top: 0;
    }
}

@media screen and (max-height: 459px) {
    .equipment {
        display: none;
    }
}