@media screen and (max-width: 48em) {
    .inv {
        display:none;
    }
}


@media screen and (min-width: 48em) {
    .inv {
        color: black;
        position: absolute;
        left: 15%;
        background-color: $basic-back;
        width: 59%;
   
        height: 200px;
        padding: 3px;
        margin-left: 3px;
    }

    .inv-G {
        margin-left: 10px;

    td {
        width: 50px;
        background-color: $basic-back;   
        height: 45px;
        border: 2px solid black;
        margin-left: 5px;
        margin-bottom: 5px;

        }
    }
}

@media screen and (max-height: 523px) {
    .inv {
        top: 0;
    }
}