@import 'navbar';
@import 'rngbutton';
@import 'login';
@import 'market';
@import 'equipment';
@import 'inventory';


body {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
}

.home {
    height: 10vh;
    width: 100vw;

    display: grid;
    grid-template-columns: [navbar-s] 1fr [market-s] 1fr [market-e navbar-e];
    grid-template-rows: [navbar-s] 83px [navbar-e];

    overflow: hidden;
}

