@import 'navbar';
@import 'rngbutton';
@import 'login';
@import 'market';
@import 'equipment';
@import 'inventory';

@import 'Test';


//total height of view screen: (on 
//resolution built ) 842.2

body {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
}

.home {
    max-height: 80px;
    width: 100vw;

    display: grid;
    grid-template-columns: [navbar-s] 1fr [market-s] 1fr [market-e navbar-e];
    grid-template-rows: [navbar-s] 15vh [navbar-e];

    overflow: hidden;
}


