.market {
    display: none;
}


@media screen and (min-height: 710px) {

    .market {
        background-color: $basic-back;
    
        position: absolute;
        right: 0px;
        bottom: 13px;
    
        height: 26%;
        width: 25%;
        padding: 5px;
    }
    
    .market-G {
        margin-left: 5px;
    
        td {
            width: 55px;
            background-color: $basic-back;   
            height: 45px;
            border: 2px solid black;
    
        }
    }
    
}

@media screen and (max-width: 60em) {
    .market {
        display: none;
    }
}

@media screen and (max-width: 19em) {
    .market {
        display: none;
    }
}